# Eclipse metafile.
.project

# Compiled python
*.pyc

# Compiled protobuf
*_pb2.py

# Miscellaneous
.DS_Store
.*swp

# Possible credentials
*.json/

# Dev scripts
scripts/dev*.sh

# User-edited configs
deployment-templates/*.yaml

# Build/dist
.eggs/
*.egg/
*.egg-info*
build/
dist/
out/
