language:
 - "python"
python:
  - "2.7"
before_install:
  - "sudo apt-get install libmysqlclient-dev"
install:
 - "python setup.py install"
script:
  - "python setup.py google_test --test-dir=tests/"
