# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

sudo: required
jobs:
  include:
  - stage: Unit Tests
    name: Unit Tests with Python 3.6
    language: python
    python:
    - "3.6"
    services:
    - docker
    before_install:
    - "./install/scripts/docker_setup_forseti.sh"
    script:
    - "./install/scripts/docker_run_forseti.sh"
    - "./install/scripts/docker_unittest_forseti.sh"
    - "./install/scripts/docker_pystyle_forseti.sh"
    after_success:
    - docker -l error exec -it build /bin/bash -c "bash <(curl -s https://codecov.io/bash)"
  - stage: E2E Tests
    name: End to End Tests
    if: (branch = master AND type = push) OR (branch =~ /^release-.*$/) OR (branch =~ /^test\/.*$/)
    services:
    - docker
    before_install:
    - openssl aes-256-cbc -K $encrypted_4a777c2b03c8_key -iv $encrypted_4a777c2b03c8_iv
      -in secret-key.tar.enc -out secret-key.tar -d
    - tar xvf secret-key.tar
    install:
    - docker image pull gcr.io/cloud-foundation-cicd/cft/developer-tools:0.4.1
    script:
    - docker run --rm -it
      -e TF_VAR_forseti_version=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
      -e KITCHEN_TEST_BASE_PATH="tests"
      -e SERVICE_ACCOUNT_JSON="$(< credentials.json)"
      --env-file travis-integration.env
      -v $(pwd):/workspace
      -w /workspace/integration_tests
      gcr.io/cloud-foundation-cicd/cft/developer-tools:0.4.1 /usr/local/bin/test_integration.sh
