# Copyright 2017 The Forseti Security Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

sudo: required

language: python

python:
  - "2.7"

services:
  - docker

before_install:
  # Update docker.
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y install docker-ce
  # Build the Forseti base image containing all the dependencies.
  - docker build -t forseti/base -f scripts/docker/base .
  # Build the Forseti image containing the dependencies and code.
  - docker build -t forseti/build -f scripts/docker/forseti --no-cache .
  # Required for codecov.io to export coverage within a Docker container.
  - "CI_ENV=`bash <(curl -s https://codecov.io/env)`"
  # Start the container for testing and code verification.
  - docker run $CI_ENV -it -d --name build forseti/build /bin/bash

script:
  # Run code coverage.
  - docker exec -it build /bin/sh -c "coverage run --source='google.cloud.forseti,scripts.gcp_setup.environment' --omit='__init__.py' -m unittest discover -s . -p '*_test.py'"
  # Check code compliance.
  - docker exec -it build /bin/sh -c "pylint --rcfile=pylintrc google/ scripts/gcp_setup/"

after_success:
  # Execute codecov inside the docker container. Need to export env for codecov.io upload.
  - docker exec -it build /bin/sh -c "codecov"
