# Basic directives.
exclude: [vendor, images/readme/]
description: "Tools to secure Google Cloud Platform"
gems:
  - jekyll-sitemap
github:
  url: https://github.com/GoogleCloudPlatform/forseti-security
  branch: gh-pages
google_analytics: UA-98416450-1
highlighter: rouge
markdown: kramdown
title: "Forseti Security"

# Jekyll related directives.
collections:
  docs:
    output: true
  faq:
    output: false

# Custom site directives.
# The order of document categories is defined in _data/doc_categories.yml.
defaults:
  - scope:
      path: _docs
    values:
      category: Overview
      layout: docs
  - scope:
      path: _docs/development
    values:
      category: Development
  - scope:
      path: _docs/howto
    values:
      category: How Tos
  - scope:
      path: _docs/quickstarts
    values:
      category: Quick Starts
  - scope:
      path: _docs/guides
    values:
      category: Guides
