# Basic directives.
custom_search_engine_id: 000816147753680702341:l05b0y1-8k0
description: "Tools to secure Google Cloud Platform"
exclude: ["vendor", "images/readme/", "client-secrets.json.enc"]
gems:
  - jekyll-sitemap
google_analytics: UA-98416450-1
highlighter: rouge
markdown: kramdown
destination: _www/www/

# Needed for local builds and using {{ site.github }}.
repository: GoogleCloudPlatform/forseti-security
title: "Forseti Security"

# Jekyll related directives.
collections:
  docs:
    output: true
  faq:
    output: false

# Custom site directives.
# The order of document categories is defined in _data/doc_categories.yml.
defaults:
  - scope:
      path: _docs
    values:
      category: Overview
      layout: docs
  - scope:
      path: _docs/howto
    values:
      category: Howtos
  - scope:
      path: _docs/quickstarts
    values:
      category: Quickstarts
  - scope:
      path: _docs/guides
    values:
      category: Guides
# The order of faq categories is defined in _data/faq_categories.yml
  - scope:
      path: _faq/general
    values:
      category: General
  - scope:
      path: _faq/installation_and_deployment
    values:
      category: Installation and deployment
  - scope:
      path: _faq/using_forseti
    values:
      category: Using Forseti
  - scope:
      path: _faq/security_implications
    values:
      category: Security implications
