# Copyright 2017 The Forseti Security Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Basic directives.
url: "https://forsetisecurity.org" # base hostname & protocol for the website
custom_search_engine_id: 000816147753680702341:l05b0y1-8k0
description: "Tools to secure Google Cloud Platform"
exclude: ["Gemfile",
          "Gemfile.lock",
          "README.md",
          "vendor/",
          "images/readme/",
          "client-secrets.json.enc",
          "_config.yml",
          ".travis.yml",
          "travis/",
          "scripts/",
          ".gitignore",
          ".sass-cache/",
          ".idea/"]
exclude_from_watch: ["_docs/latest/",
                     "_data/doc_versions.yml",
                     "_data/doc_version_index.yml",
                     ".sass-cache/"]
plugins:
  - jekyll-sitemap
  - jekyll-github-metadata
  - jekyll-paginate-v2
  - jekyll-redirect-from
  - jekyll-responsive-image
  - jekyll-include-cache
google_analytics: UA-98416450-1
highlighter: rouge
markdown: kramdown
destination: _www/www/

# Needed for local builds and using {{ site.github }}.
repository: forseti-security/forseti-security
title: "Forseti Security"

# Jekyll related directives.
collections:
  docs:
    output: true
  faq:
    output: false
  news:
    output: true

pagination:
  enabled: true
  collection: news
  permalink: /page/:num/
  per_page: 10
  sort_reverse: true
  sort_field: date

# Responsive image templates and resizing configuration
responsive_image:
  base_path: images
  output_path_format: images/resized/%{dirname}/%{filename}-%{width}x%{height}.%{extension}
  template: _includes/responsive_image/template.html
  sizes:
    - width: 320
    - width: 600
    - width: 800
    - width: 1000
    - width: 1400
  default_quality: 95
  strip: true

# Custom site directives.
# The order of document categories is defined in _data/doc_categories.yml.
defaults:
  - scope:
      path: _news
    values:
      author: Forseti Security Team
      layout: news
      permalink: /news/:year/:month/:day/:title:output_ext
  - scope:
      path: _docs/latest
    values:
      category: Overview (latest)
      layout: docs
  - scope:
      path: _docs/latest/concepts
    values:
      category: Concepts (latest)
  - scope:
      path: _docs/latest/setup
    values:
      category: Setup (latest)
  - scope:
      path: _docs/latest/use
    values:
      category: Use (latest)
  - scope:
      path: _docs/latest/configure
    values:
      category: Configure (latest)
  - scope:
      path: _docs/latest/develop
    values:
      category: Develop (latest)
  - scope:
      path: _docs/latest/faq
    values:
      category: FAQ (latest)
# The order of faq categories is defined in _data/faq_categories.yml
  - scope:
      path: _faq/general
    values:
      category: General
  - scope:
      path: _faq/installation_and_deployment
    values:
      category: Installation and deployment
  - scope:
      path: _faq/using_forseti
    values:
      category: Using Forseti
  - scope:
      path: _faq/security_implications
    values:
      category: Security implications
  - scope:
      path: _faq/resource
    values:
      category: Google Cloud Platform Resource Coverage
  - scope:
      path: _docs/
    values:
      category: Overview ()
      layout: docs
  - scope:
      path: _docs//concepts
    values:
      category: Concepts ()
  - scope:
      path: _docs//setup
    values:
      category: Setup ()
  - scope:
      path: _docs//use
    values:
      category: Use ()
  - scope:
      path: _docs//configure
    values:
      category: Configure ()
  - scope:
      path: _docs//develop
    values:
      category: Develop ()
  - scope:
      path: _docs//faq
    values:
      category: FAQ ()
  - scope:
      path: _docs/v2.23
    values:
      category: Overview (v2.23)
      layout: docs
  - scope:
      path: _docs/v2.23/concepts
    values:
      category: Concepts (v2.23)
  - scope:
      path: _docs/v2.23/setup
    values:
      category: Setup (v2.23)
  - scope:
      path: _docs/v2.23/use
    values:
      category: Use (v2.23)
  - scope:
      path: _docs/v2.23/configure
    values:
      category: Configure (v2.23)
  - scope:
      path: _docs/v2.23/develop
    values:
      category: Develop (v2.23)
  - scope:
      path: _docs/v2.23/faq
    values:
      category: FAQ (v2.23)
  - scope:
      path: _docs/v2.24
    values:
      category: Overview (v2.24)
      layout: docs
  - scope:
      path: _docs/v2.24/concepts
    values:
      category: Concepts (v2.24)
  - scope:
      path: _docs/v2.24/setup
    values:
      category: Setup (v2.24)
  - scope:
      path: _docs/v2.24/use
    values:
      category: Use (v2.24)
  - scope:
      path: _docs/v2.24/configure
    values:
      category: Configure (v2.24)
  - scope:
      path: _docs/v2.24/develop
    values:
      category: Develop (v2.24)
  - scope:
      path: _docs/v2.24/faq
    values:
      category: FAQ (v2.24)
  - scope:
      path: _docs/v2.25
    values:
      category: Overview (v2.25)
      layout: docs
  - scope:
      path: _docs/v2.25/concepts
    values:
      category: Concepts (v2.25)
  - scope:
      path: _docs/v2.25/setup
    values:
      category: Setup (v2.25)
  - scope:
      path: _docs/v2.25/use
    values:
      category: Use (v2.25)
  - scope:
      path: _docs/v2.25/configure
    values:
      category: Configure (v2.25)
  - scope:
      path: _docs/v2.25/develop
    values:
      category: Develop (v2.25)
  - scope:
      path: _docs/v2.25/faq
    values:
      category: FAQ (v2.25)
