# Basic directives.
custom_search_engine_id: 000816147753680702341:l05b0y1-8k0
description: "Tools to secure Google Cloud Platform"
exclude: [vendor, images/readme/]
gems:
  - jekyll-sitemap
github:
  url: https://github.com/GoogleCloudPlatform/forseti-security
  branch: gh-pages
google_analytics: UA-98416450-1
highlighter: rouge
markdown: kramdown
title: "Forseti Security"

# Jekyll related directives.
collections:
  docs:
    output: true
  faq:
    output: false

# Custom site directives.
# The order of document categories is defined in _data/doc_categories.yml.
defaults:
  - scope:
      path: _docs
    values:
      category: Overview
      layout: docs
  - scope:
      path: _docs/howto
    values:
      category: Howtos
  - scope:
      path: _docs/quickstarts
    values:
      category: Quickstarts
  - scope:
      path: _docs/guides
    values:
      category: Guides
