# Any dependencies added here should be related to the compiling/testing of Forseti. Additions,
# here should also be added to setup.py

# Needed for compiling of Forseti protos during the build & install.
protobuf==3.6.1
grpcio==1.18.0
grpcio-tools==1.18.0
pyyaml==4.2b4
googleapis-common-protos[grpc]==1.5.6
google-cloud-asset==0.1.2

# Needed for CI/CD and Development.
codecov==2.0.15
pylint==1.9.4
flake8==3.6.0
