<div class="col-sm-4">
  <h2>Documentation</h2>
  <ul class="links">
    {% for tab in site.data.doc_categories %}
      <li><a href="{{ site.baseurl }}/{{ tab.href }}">{{ tab.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="col-sm-4">
  <h2>Resources</h2>
  <ul class="links">
    <li><a href="{% link about/index.md %}">About</a></li>
    <li><a href="{% link faq/index.md %}">FAQ</a></li>
    <li><a href="https://www.google.com/policies/terms/">Website Terms</a></li>
    <li><a href="https://www.google.com/policies/privacy/">Website Privacy Policy</a></li>
  </ul>
</div>
<div class="col-sm-4">
  <h2>Community</h2>
  <ul class="links">
    <li class="icon googlegroups"><a href="https://groups.google.com/a/forsetisecurity.org/forum/#!forum/discuss">Discuss</a></li>
    <li class="icon github"><a href="{{ site.github.repository_url }}">Github</a></li>
  </ul>
</div>
