<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand clearfix" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/trans/5.png" style="float:left; height: 36px; margin-right: 12px; margin-top: -3px;" />
        Forseti Security
      </a>
    </div>
    
    <form class="navbar-form navbar-right">
      <div class="form-group is-empty">
        <i class="material-icons icon-search">search</i>
        <input type="text" class="search form-control" placeholder="Search">
      </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ site.baseurl }}/about/">About</a></li>
      <li><a href="{{ site.baseurl }}/docs">Docs</a></li>
      <li><a href="{{ site.baseurl }}/community/">Community</a></li>
      <li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
    </ul>        
  </div>
</nav>