# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The toplevel deployment script for Forseti Security.
# Be sure to edit this file and its templates to suit your environment.

imports:
- path: py/inventory/cloudsql-instance.py
  name: cloudsql-instance.py
- path: py/inventory/cloudsql-database.py
  name: cloudsql-database.py
- path: py/storage/bucket.py
  name: bucket.py
- path: py/forseti-instance.py
  name: forseti-instance.py

resources:

# Cloud SQL
- name: cloudsql-instance
  type: cloudsql-instance.py
  properties:
    region: us-central1
    instance-name: CLOUDSQL_INSTANCE_NAME
- name: forseti_security
  type: cloudsql-database.py

# Cloud Storage
- name: SCANNER_BUCKET
  type: bucket.py

# Compute Engine
- name: forseti-instance
  type: forseti-instance.py
  properties:
    image-project: ubuntu-os-cloud
    image-family: ubuntu-1404-lts
    instance-type: f1-micro
    zone: $(ref.cloudsql-instance.region)-c
    service-account: YOUR_SERVICE_ACCOUNT
    service-account-scopes:
      - https://www.googleapis.com/auth/cloud-platform
    scanner-bucket: SCANNER_BUCKET
    database-name: forseti_security
    organization-id: YOUR_ORG_ID
    release-version: "1.0.1"
    src-path: https://github.com/GoogleCloudPlatform/forseti-security/archive/v1.0.1.tar.gz
    cloudsqlproxy-os-arch: linux.amd64
    db-port: 3306
    # Remove or comment out the email properties if you do not want to send email.
    sendgrid-api-key: YOUR_SENDGRID_API_KEY
    email-sender: EMAIL_ADDRESS_OF_YOUR_SENDER
    email-recipient: EMAIL_ADDRESS_OF_YOUR_RECIPIENT
    # Flags for Inventory to collect GSuite Google Groups information.
    inventory-groups: true
    groups-domain-super-admin-email: EMAIL_ADDRESS_OF_A_GSUITE_SUPER_ADMIN
    groups-service-account-key-file: "/home/ubuntu/service-account-key.json"
