# Copyright 2017 The Forseti Security Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The toplevel deployment script for IAM Explain.
# Be sure to edit this file and its templates to suit your environment.

imports:
- path: compute-engine/explain-instance.py
  name: explain-instance.py
- path: cloudsql/cloudsql-instance.py
  name: cloudsql-instance.py
- path: cloudsql/cloudsql-database.py
  name: cloudsql-database.py

resources:

# Cloud SQL
- name: cloudsql-instance
  type: cloudsql-instance.py
  properties:
    region: us-central1
    # EDIT DISCOURAGED
    # E.g. use 'iam-explain-sql-instance' or something similar,
    # Not recommended to change unless instance name is already used
    instance-name: iam-explain-sql-instance

- name: explain_security
  type: cloudsql-database.py

# Explain
- name: explain-instance
  type: explain-instance.py
  properties:
    # Must be in the form instance-name:region:database-name
    # Full name can be found in the cloud console
    instance-type: n1-standard-2
    zone: $(ref.cloudsql-instance.region)-c

    # EDIT REQUIRED
    # This needs to be set to the full email address of a gsuite
    # administrator. IAM Explain Inventory will assume the administrator's
    # authority in order to enumerate users, groups and group membership.
    gsuite-admin-email: GSUITE_ADMINISTRATOR

    # EDIT REQUIRED
    # This is the numeric ID of your organization, e.g. '433637338589'
    # Length may vary. You can get this value using the console or
    # by executing 'gcloud organizations list' in your cloud shell.
    root-resource-id: ROOT_RESOURCE_ID

    # EDIT REQUIRED
    # This is the service account that holds the security reviewer role
    service-account: YOUR_SERVICE_ACCOUNT

    # EDIT OPTIONAL
    # This is the service account that is authorized for Gsuite
    # The path needs to point to the LOCAL machine where IAM Explain is deployed
    # The default value is good if you copy the key to this path
    gsuite-service-accout-path: /home/ubuntu/gsuite.json

    # EDIT OPTIONAL
    # Use the "branch-name" property to deploy a specify a branch of IAM Explain
    # on GCP.
    # Use either branch-name or release-version.
    # This configuration deploys the 'crawling' branch
    branch-name: "BRANCHNAME"
    #release-version: "1.0.2"
    src-path: https://github.com/GoogleCloudPlatform/forseti-security

    # EDIT DISCOURAGED
    # No need to set this unless you have deployed Forseti,
    # Don't change unless you know why you have to change this.
    explain-db-name: 'explain_security'

