# Copyright 2017 The Forseti Security Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The toplevel deployment script for Forseti Security.
# Be sure to edit this file and its templates to suit your environment.
# At the minimum, you should edit the following variables:
#  - CLOUDSQL_INSTANCE_NAME (if creating a new deployment, make sure to
#    change this variable to something else because Cloud SQL instance
#    names cannot be used after deletion for up to 7 days)
#  - FORSETI_BUCKET (Cloud Storage section)
#  - FORSETI_BUCKET (Compute Engine section)

imports:
- path: cloudsql/cloudsql-instance.py
  name: cloudsql-instance.py
- path: cloudsql/cloudsql-database.py
  name: cloudsql-database.py
- path: compute-engine/server/forseti-instance-server.py
  name: forseti-instance-server.py
- path: storage/bucket.py
  name: bucket.py

resources:

# Cloud SQL
- name: cloudsql-instance
  type: cloudsql-instance.py
  properties:
    region: us-central1
    instance-name: CLOUDSQL_INSTANCE_NAME
- name: forseti_security
  type: cloudsql-database.py

# Cloud Storage
- name: FORSETI_BUCKET
  type: bucket.py
  properties:
    location: us

# Compute Engine
- name: forseti-instance-server
  type: forseti-instance-server.py
  properties:
    # GCE instance properties
    image-project: ubuntu-os-cloud
    image-family: ubuntu-1804-lts
    instance-type: n1-standard-2
    zone: $(ref.cloudsql-instance.region)-c

    service-account: SERVICE_ACCOUNT_GCP
    service-account-scopes:
      - https://www.googleapis.com/auth/cloud-platform

    scanner-bucket: FORSETI_BUCKET
    database-name: forseti_security

    # --- Forseti version
    # "forseti-version": Can be a tag or a branch.
    forseti-version: "v2.0"
    src-path: https://github.com/GoogleCloudPlatform/forseti-security
    # --- end Forseti version

    # Cloud SQL
    cloudsqlproxy-os-arch: linux.amd64
    db-port: 3306

    # Forseti run frequency
    # WARNING: only change if you know exactly what you're doing!
    # This is the Forseti crontab schedule.
    # The default is "run at some random minute 0-59 (configured in
    # forseti-instance-sever.py), every other hour".
    run-frequency: "{rand_minute} */2 * * *"
