<!--
Copyright 2017 The Forseti Security Authors. All rights reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!doctype html>
<html>
<body>
    Inventory Index Id: {{ inventory_index_id }}<br>
    Inventory Timestamp: {{ timestamp }}<br>

    <a href="https://forsetisecurity.org/docs/latest/configure/inventory/gsuite.html">
    G Suite Domain-wide Delegation:</a>
     {{ gsuite_dwd_status }}<br>
    <br>
    <h3> Inventory Summary </h3>
    <table>
        <col width="250">
        <col width="150">
        <tr>
            <th align="left">Resource Name</th>
            <th align="left">Count</th>
        </tr>
        {% for data in summary_data %}
        <tr>
            <td>{{ data.resource_type }}</td>
            <td>{{ data.count }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Inventory Details </h3>
    <table>
        <col width="250">
        <col width="150">
        <tr>
            <th align="left">Resource Name</th>
            <th align="left">Count</th>
        </tr>
        <tr>
            {% for data in details_data %}
        </tr>
        <tr>
            <td>{{ data.resource_type }}</td>
            <td>{{ data.count }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
