# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# The toplevel deployment script for Forseti Security.
# Be sure to edit this file and its templates to suit your environment.

# Change these import paths as necessary to suit your environment.
imports:
- path: ../../deployment-templates/inventory/cloudsql-instance.py
  name: cloudsql-instance.py
- path: ../../deployment-templates/inventory/cloudsql-database.py
  name: cloudsql-database.py
- path: ../../deployment-templates/storage/bucket.py
  name: bucket.py
- path: ../../deployment-templates/forseti-instance.py
  name: forseti-instance.py

resources:

# Cloud SQL
- name: cloudsql-instance
  type: cloudsql-instance.py
  properties:
    region: us-central1
    instance-name: CLOUDSQL_INSTANCE_NAME
- name: forseti_security
  type: cloudsql-database.py

# Cloud Storage
- name: SCANNER_BUCKET
  type: bucket.py
  properties:
    region: us

# Compute Engine
- name: forseti-instance
  type: forseti-instance.py
  properties:
    # GCE instance properties
    image-project: ubuntu-os-cloud
    image-family: ubuntu-1604-lts
    instance-type: n1-standard-2
    zone: $(ref.cloudsql-instance.region)-c

    service-account: GCP_SERVICE_ACCOUNT
    service-account-scopes:
      - https://www.googleapis.com/auth/cloud-platform
    scanner-bucket: SCANNER_BUCKET
    database-name: forseti_security
    organization-id: ORGANIZATION_ID_NUMBER

    # --- Forseti version
    # Use either branch-name or release-version, but NOT both.
    #
    # "release-version": A Forseti release.
    # See https://github.com/GoogleCloudPlatform/forseti-security/releases
    #
    # "branch-name": A git branch of Forseti.
    #
    # e.g. "I want to deploy Forseti Security's master branch"
    #    branch-name: "master"
    #    # release-version: ... <-- COMMENT OUT
    #
    # e.g. "I want to deploy release 1.0"
    #    # branch-name: "master" <-- COMMENT OUT
    #    release-version: "1.0"
    branch-name: "master"
    #release-version: RELEASE_VERSION
    src-path: https://github.com/GoogleCloudPlatform/forseti-security
    # --- end Forseti version

    # Cloud SQL
    cloudsqlproxy-os-arch: linux.amd64
    db-port: 3306

    # Remove or comment out the email properties if you do not want Forseti to
    # send email notifications.
    sendgrid-api-key: SENDGRID_API_KEY
    email-sender: NOTIFICATION_SENDER_EMAIL
    email-recipient: NOTIFICATION_RECIPIENT_EMAIL

    # Flags for Inventory to collect GSuite Google Groups information.
    inventory-groups: true
    groups-domain-super-admin-email: GSUITE_SUPER_ADMIN_EMAIL
    groups-service-account-key-file: "/home/ubuntu/service-account-key.json"
