.docs-nav {
  @media (min-width: $screen-md-min) {
    /* Specify only margin-bottom to prevent overriding Bootstrap row margins */
    margin-bottom: 20px;
  }

  .breadcrumb {
    background: none;
    border-radius: 0;

    a {
      text-decoration: underline;
    }

    li + li:before {
      color: $grey-400;
      content: ">\00a0";
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 0;
    }
  }

  .version-dropdown {
    text-align: right;

    @media (max-width: $screen-xs-max) {
      text-align: left;
      margin-bottom: 10px;

      #version-dropdown > .btn {
        padding-left: 15px;
      }
    }
  }
}

#documentation > *:first-child {
  margin-top: 0;
}

.edit-on-github a {
  color: $grey-600 !important;
  .file-name {
    font-weight: bold;
  }
}
