#jumbotron-home {
  background-color: $brand-primary;
  margin: -20px 0 0;

  .container {
    text-align: center;
  }

  .logo-info {
    display: inline-block;
    margin: 0 0 25px;
  }

  .project-title {
    color: $white;
    font-size: 46px;
    font-weight: bold;
  }

  .project-subtitle {
    color: $brand-secondary;
  }

  button {
    display: inline-block;
  }
}

.promo-rows {
  margin: 50px 0;
}

.promo-row {
  padding: 30px 0;

  .promo-text p {
    font-size: 120%;
  }

  a.btn-link {
    margin: 0;
    padding: 8px 0;
  }
}

.pre-footer {
  background-color: $grey-200;
  margin-bottom: -40px;
  padding: 35px 0;
  text-align: center;
}
