#jumbotron-home {
  background-color: #1976d2;
  margin: -20px 0 0;

  .container {
    text-align: center;
  }

  .logo-info {
    display: inline-block;
    margin: 0 0 25px;
  }

  button {
    display: inline-block;
  }
}