#jumbotron-home {
  background-color: #1976d2;
  margin: -20px 0 0;

  .container {
    text-align: center;
  }

  .logo-info {
    display: inline-block;
    margin: 0 0 25px;
  }

  .project-title {
    color: #fff;
    // font-size: 1.2em;
    font-size: 46px;
    font-weight: bold;
  }

  .project-subtitle {
    color: #ffc400;
  }

  button {
    display: inline-block;
  }
}
