#!/bin/bash
# Copyright 2017 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Wrapper script to run inventory in development mode.

PYTHONPATH=./ python google/cloud/security/inventory/inventory_loader.py \
        --inventory_groups <whether to inventory GSuite Groups> \
        --groups_service_account_key_file <the key file with credentials for the service account> \
        --domain_super_admin_email <an email address of a super-admin in the GSuite domain> \
        --organization_id <organization id> \
        --max_crm_api_calls_per_100_seconds 400 \
        --max_admin_api_calls_per_day 150000 \
        --db_host 127.0.0.1 \
        --db_user root \
        --db_name <database name> \
        --sendgrid_api_key <Sendgrid API key> \
        --email_sender <email sender> \
        --email_recipient <email recipient>
