.navbar {
  .navbar-brand img {
    float: left;
    height: 36px;
    margin: -3px 12px 0 0;
  }

  .icon-search {
    float: left;
    font-size: 20px;
    margin: 4px -24px 0 0;
  }

  .search {
    padding-left: 24px !important;

    &::placeholder {
      font-size: 14px !important;
      font-weight: 300 !important;
    }
  }
}