#documentation *:first-child {
  margin-top: 0;
}

.toc {
  display: none !important;
  padding: 0;

  @media (min-width: $screen-sm-min) {
    display: block !important;
  }

  ul {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    list-style-type: none !important;
    padding-left: 10px;

    ul {
      font-size: 11px;
      font-weight: 400;
    }

    a {
      color: $grey-800;
    }
  }
}

.toc.mobile-toc{
  display: none !important;

  @media (max-width: $screen-xs-max) {
    border-left: 4px solid $grey-A100;
    display: block !important;
    margin-top: 30px;
  }
}
