<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canoncial" href="{{ page.url | remove:'index.html' | remove:'.html' | absolute_url }}">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/site/png/trans/logo/blue-logo.png" />

  {% assign meta_title = page.title | default: "Forseti Security" %}
  <meta name="title" content="{{ meta_title }}">
  <meta name="og:title" content="{{ meta_title }}">

  {% assign meta_description = page.overview | default: site.description %}
  <meta name="description" content="{{ meta_description }}">
  <meta name="og:description" content="{{ meta_description }}">

  {% if page.title == nil %}
    <title>Forseti Security</title>
  {% else %}
    <title>Forseti Security / {{ page.title }}</title>
  {% endif %}

  {% include layout/base/stylesheets.html %}
</head>
<body>
  {% include layout/base/nav.html %}

  {{ content }}

  {% include layout/base/footer.html %}

  {% include layout/base/scripts.html %}
</body>
</html>
