---
layout: default
---
{% include_cached site/layout/docs/tabs.html %}

<div class="row">
  {% unless page.hide.left_sidebar %}
    <div class="col-md-2">
        {% include_cached site/layout/docs/category_nav.html %}
    </div>
  {% endunless %}

  {% if page.hide.left_sidebar and page.hide.right_sidebar %}
    {% assign doc_cols = 12 %}
  {% elsif page.hide.left_sidebar or page.hide.right_sidebar %}
    {% assign doc_cols = 10 %}
  {% else %}
    {% assign doc_cols = 8 %}
  {% endif %}

  <div id="documentation" class="col-md-{{ doc_cols }}">
    {{ content }}
  </div>

  {% unless page.hide.right_sidebar %}
    <div id="toc" class="col-md-2 toc">
    </div>
  {% endunless %}
</div>
