---
layout: default
---
{% include site/layout/docs/tabs.html %}

<div class="row">
  {% unless page.hide.left_sidebar %} 
    <div class="col-md-3">
        {% include site/layout/docs/category_nav.html %}
    </div>

    <div id="documentation" class="col-md-7">
      {{ content }}
    </div>
  {% else %}
    <div id="documentation" class="col-md-10">
      {{ content }}
    </div>
  {% endunless %}

  {% unless page.hide.right_sidebar %}
    <div id="toc" class="col-md-2 toc">
    </div>
  {% else %}
    <div class="col-md-2">
    </div>
  {% endunless %}
</div>
