---
layout: default
---
{% include layout/docs/tabs.html %}

<div class="row">
  <div class="col-md-3">
    {% unless page.hide.left_sidebar %} 
      {% include layout/docs/category_nav.html %}
    {% endunless %}
  </div>

  <div id="documentation" class="col-md-7">
    {{ content }}
  </div>

  {% unless page.hide.right_sidebar %}
    <div id="toc" class="col-md-2 toc">
    </div>
  {% else %}
    <div class="col-md-2">
    </div>
  {% endunless %}
</div>

<script src="{{ site.baseurl }}/third_party/anchor-js/anchor.min.js"></script>
<script type="text/javascript">
  var selector = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6'].map(function(s) {
    return '#documentation ' + s;
  }).join(', ');

  anchors.options = {
    class: 'material-icons',
    icon: ''
  };
  
  anchors.add(selector);
</script>
