---
layout: base
---
<div id="jumbotron-home" class="jumbotron">
  <div class="container">
    <img class="logo-info" src="{{ site.baseurl }}/images/site/logo/white-logo-trans.png" alt="Forseti: Open-source tools for GCP security" />
    <br />
    <h2 class="project-title">Forseti Security</h2>
    <p class="project-subtitle">Open-source tools for GCP security</p>
    <a href="{{ site.baseurl }}/about/" alt="about forseti security">
      <button class="btn btn-raised btn-default" alt="learn more">LEARN MORE</button>
    </a>
  </div>
</div>

{{ content }}
