---
layout: base
---
<div id="jumbotron-home" class="jumbotron">
  <div class="container">
    <img class="logo-info" src="{{ site.baseurl }}/images/site/logo/white-logo-trans.png" alt="Forseti: Open-source tools for GCP security" />
    <br />
    <h2 class="project-title">Forseti Security</h2>
    <p class="project-subtitle">Open-source tools for GCP security</p>
    <a href="{{ site.baseurl }}{% link _docs/latest/setup/index.md %}" alt="get started with forseti security">
      <button class="btn btn-raised btn-default" alt="get started">Get Started</button>
    </a>
  </div>
</div>

{{ content }}

<div class="pre-footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ site.baseurl }}{% link about/index.md %}" alt="learn more">
          <button class="btn btn-lg btn-raised btn-default">Learn More</button>
        </a>
      </div>
    </div>
  </div>
</div>
