// Increase margin between panels in a panel-group due to drop-shadow from Material theme
.panel-group .panel+.panel {
  margin-top: 8px;
}

@media (max-width: $screen-xs-max) {
  .navbar .navbar-form {
    border-bottom: 1px solid $black-alpha-10;
    border-top: none;
    -webkit-box-shadow: 0 1px 0 $white-alpha-10;
    box-shadow: 0 1px 0 $white-alpha-10;
    margin-top: 16px;
    padding: 0 15px 16px 15px;

  }
}

.nav-tabs {
  background: transparent;
  border: none;

  > li {
    > a {
      color: $grey-600;
      margin-right: 5px;

      &:hover,
      &:focus {
        border-bottom: 2px solid $grey-600;
        color: $grey-600;
      }  
    }

    &.active {
      a,
      a:hover,
      a:focus {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $brand-primary;
        color: $brand-primary;
      }
    }
  }
}

// Move block styling for code blocks from enclosing `pre` to inner `code`
pre.highlight {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;

  code {
    display: block;
    background-color: $grey-A100;
    border: 1px solid $grey-300;
    border-radius: 4px;
    margin: 0 0 10px;
    padding: 9.5px;
  }
}
