// Increase margin between panels in a panel-group due to drop-shadow from Material theme
.panel-group .panel+.panel {
  margin-top: 8px;
}

@media (max-width: 767px) {
  .navbar .navbar-form {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
    margin-top: 16px;
    padding: 0 15px 16px 15px;

  }
}

.nav-tabs {
  background: transparent;
  border: none;

  > li {
    > a {
      color: #737373;
      margin-right: 5px;

      &:hover,
      &:focus {
        border-bottom: 2px solid #737373;
        color: #737373;
      }  
    }

    &.active {
      a,
      a:hover,
      a:focus {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #1976d2;
        color: #1976d2;
      }
    }
  }
}
