// Increase margin between panels in a panel-group due to drop-shadow from Material theme
.panel-group .panel+.panel {
  margin-top: 8px;
}

.nav-tabs {
  background: transparent;
  border: none;

  > li {
    > a {
      color: #737373;
      margin-right: 5px;

      &:hover, &:focus {
        color: #737373;
        border-bottom: 2px solid #737373;
      }  
    }

    &.active {
      a, a:hover, a:focus {
        color: #1976d2;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #1976d2;
      }
    }
  }
}