/* 

Color scheme:

  https://material.io/color/#!/?view.left=0&view.right=0&primary.color=1976D2&secondary.color=FFC400
*/
$brand-primary: $blue-700;
$brand-primary-light: #63a4ff;
$brand-primary-dark: #004ba0;
$brand-secondary: $amber-A400;
$brand-secondary-light: #fff64f;
$brand-secondary-dark: #c79400;

$footer-bg: #4e4f4f;
$footer-text: #ccc;
